@import 'tailwindcss';

@font-face {
	font-family: 'Material Symbols Rounded';
	font-style: normal;
	font-weight: 100 700;
	font-display: block;
	src: url('@material-symbols/font-500/material-symbols-rounded.woff2')
		format('woff2');
}

.icon {
	font-family: 'Material Symbols Rounded';
	white-space: nowrap;
	direction: ltr;
	text-rendering: optimizeLegibility;
	font-feature-settings: 'liga';
	vertical-align: bottom;
	font-display: block;
	user-select: none;
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48;
}

:root {
	/* Disallow overflow on page */
	overflow: hidden;
	background: var(--color-gray-200);
}

.root {
	isolation: isolate;
}
